@import "tailwindcss";

@layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
        width: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        @apply bg-gray-100 rounded-lg;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-b from-blue-500 to-blue-600 rounded-lg hover:from-blue-600 hover:to-blue-700 transition-all duration-300;
    }

    /* Firefox */
    .scrollbar-custom {
        scrollbar-width: thin;
        scrollbar-color: #3b82f6 #f1f5f9;
    }
}